@page
@{
    Layout = "_Layout";

}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
</head>

<body>
    <main class="login">
        <form action="login">
            <img src="/assets/img/itesrc.png" alt="ITESRC logo" class="login-img">
            <h1 class="login-title">Credencial Virtual</h1>
            <span class="login-subtitle">ITESRC</span>
            <div class="login-input">
                <label for="numControl" class="login-label">Número de control</label>
                <input type="text" name="numControl" id="numControl" class="login-entry"
                       placeholder="Escriba el usuario">
            </div>
            <div class="login-input">
                <label for="password" class="login-label">Contraseña</label>
                <input type="password" name="password" id="password" class="login-entry"
                       placeholder="Escriba la contraseña">
            </div>
            <span class="login-error"></span>
            <button class="login-button">Iniciar sesión</button>
        </form>
    </main>

@*     <script src="/scripts/main.js"></script> 
 *@    
    <script>
        

        let loginForm = document.querySelector('.login form');

        loginForm.addEventListener('submit', function (e) {
            e.preventDefault();

            let noControl = document.querySelector('#numControl').value;
            let password = document.querySelector('#password').value;

            Login(noControl, password);
        });

        async function Login(noControl, password) {
            let url = new URL("https://idtec.websitos256.com/api/login");

            try {
                var response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ numControl: noControl, contraseña: password })
                });

                // let passEncrypted = await response.text();

                // localStorage.setItem('password', passEncrypted);
                // localStorage.setItem('noControl', noControl)

                //      // verify 200 status
                //if (response.status === 200) {
                //          window.location.href = '/';
                //      } else {
                //          let lblError = document.querySelector('.login-error');
                //          lblError.textContent = 'Algo salió mal, intente de nuevo';
                //      }
                if (response.ok) {
                    let data = await response.json();
                    if (data.redirect) {
                        window.location.href = data.redirect; // Redirige a la página especificada
                    }
                } else {
                    let lblError = document.querySelector('.login-error');
                    lblError.textContent = 'Algo salió mal, intente de nuevo';
                }
            }
            catch (error) {
                let lblError = document.querySelector('.login-error');
                lblError.textContent = 'Error al iniciar sesión';
            }
        }
    </script>
</body>

</html>